<main>
    <div class="row gy-5">
        <section class="col-12">
            <div class="card">
            <img src="https://picsum.photos/400/200" alt="Product photo" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title text-bg-primary">Product</h5>
                <div>Hello World</div>
                <br>
                <a href="/summary" class="btn btn-primary">Open</a>
            </div>
            </div> 
        </section>
    </div>

    <section class="col-6">
        <div class="card text-bg-primary">
        <div class="card-header ">
            <div>Menu</div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#" class="btn btn-link">Home Page</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="btn btn-link">Summary Page</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="btn btn-link">Skills Page</a>
            </li>
        </ul>

        <div class="card-footer">
            <button class="btn btn-dark btn-sm">Update list</button>
        </div>
    </div>
    </section>

    <section class="col-6">
        <table class="table table-bordered text-bg-success">
                <thead>
                    <tr>
                        <th>
                            #id
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Age
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Jhon</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Ivan</td>
                        <td>29</td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>Jhon</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>Jhon</td>
                        <td>35</td>
                    </tr><tr>
                        <th>1</th>
                        <td>Jhon</td>
                        <td>35</td>
                    </tr>
                </tbody>
            </table>
    </section>

    <section class="col-12">
        <div class="row gx-5 gy-1">
        <div class="col-4">
        <div class="card text-bg-success">
            <div class="card-header text-center">Header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <p>This is content</p>
                <button class="btn btn-light">Click</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        </div>
        <div class="col-4">
        <div class="card text-bg-success">
            <div class="card-header text-center">Header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <p>This is content</p>
                <button class="btn btn-light">Click</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        </div>
        <div class="col-4">
        <div class="card text-bg-success">
            <div class="card-header text-center">Header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <p>This is content</p>
                <button class="btn btn-light">Click</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        </div>
        <div class="col-4">
        <div class="card text-bg-success">
            <div class="card-header text-center">Header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <p>This is content</p>
                <button class="btn btn-light">Click</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        </div>
        <div class="col-4">
        <div class="card text-bg-success">
            <div class="card-header text-center">Header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <p>This is content</p>
                <button class="btn btn-light">Click</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        </div>
        <div class="col-4">
        <div class="card text-bg-success">
            <div class="card-header text-center">Header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <p>This is content</p>
                <button class="btn btn-light">Click</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        </div>
        <div class="col-4">
        <div class="card text-bg-success">
            <div class="card-header text-center">Header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <p>This is content</p>
                <button class="btn btn-light">Click</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        </div>
    </div>
    </section>
<div class="row g-4">
    <div class="col-12">
        <div class="nav nav-tabs">
            <div class="nav-item">
                <a href="#" class="nav-link">Link</a>
            </div>
            <div class="nav-item">
                <a href="#" class="nav-link">Link</a>
            </div>
            <div class="nav-item">
                <a href="#" class="nav-link">Link</a>
            </div>
            <div class="nav-item">
                <a href="#" class="nav-link">Link</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="nav flex-column">
                    <div class="card">
                        <div class="nav-item">
                            <a href="#" class="nav-link">Link</a>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="nav-item">
                            <a href="#" class="nav-link">Link</a>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="nav-item">
                            <a href="#" class="nav-link">Link</a>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="nav-item">
                            <a href="#" class="nav-link">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">ПК та Ноутбуки</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Макбуки</a>
                    </li>
                </ol>
            </div>

            <div class="col-12">
                <h6>Hello world <span class="badge text-bg-primary rounded-pill text-uppercase">топ продаж</span> </h6>
                <button class="btn btn-primary rounded-pill">Click Me</button>
                    <div class="alert alert-primary">This is important info!</div>
            </div>
        </div>
    </div>
</div>
</main>