<div class="card card-body">
    <h1 class="text-center">H1 Heading</h1>
    <p class="text-uppercase text-center">Paragraph</p>
    <hr>
    <div class="display-6 text-end">Display 6</div>
    <div>
        <h2 class="text-end">H2 Heading</h2>
    </div>
    <div>
        <button class="btn btn-outline-info">Info</button>
    </div>
</div>
<br>
<div class="card card-header">
    <div class="display-4">Display 5 Advantage</div>
    <br>
    <div class="card card-body">
        <div class="display-5">Display 4 efficiency</div>
        <br>
        <div>
            <h6>H6 Heading</h6>
        </div>
        <br>
        <p class="text-capitalize">Paragraph</p>
        <div>
            <button class="btn btn-outline-warning">Warning</button>
        </div>
    </div>
    <br>
    <div class="card card-body">
        <div class="display-5 text-center">Display 4 Innovation</div>
        <br>
        <p class="text-capitalize text-center">Paragraph</p>
        <div>
            <button class="btn btn-outline-warning">Warning</button>
        </div>
    </div>
    <br>
    <div class="card card-body">
        <div class="display-5 text-end">Display 4 collaboration</div>
        <br>
        <p class="text-capitalize text-end">Paragraph</p>
        <div>
            <button class="btn btn-outline-warning">Warning</button>
        </div>
    </div>
</div>
</div>
<br>
<div>
    <div class="display-5"> Display 5 agreement</div>
    <br>
        <div class="card card-body">
            <h5>H5 Heading</h5>
        
        <hr>
        <div>
            <p>Paragraph</p>
        </div>
        <div>
            <button class="btn btn-success">Success</button>
        </div>
    </div>
</div>
