<div class="card card-body" >
    <h1>H1 Heading</h1>
    <p>Paragraph</p>
    <div>
        <button class="btn btn-primary">Primary</button>
    </div>
    <br>
    <div>
        <button class="btn btn-outline-primary">Outline Primary</button>
    </div>
</div>
<br>
<div class="card card-body" >
    <h2>H2 Heading Second</h2>
    <p>Paragraph</p>
    <div>
        <button class="btn btn-secondary">Secondary</button>
    </div>
    <br>
    <div>
        <button class="btn btn-outline-secondary">Outline Secondary</button>
    </div>
</div>
<br>
<div class="card card-body" >
    <h3>H3 Heading Subblock</h3>
    <p>Paragraph</p>
    <div>
        <button class="btn btn-dark">Dark</button>
    </div>
    <br>
    <div>
        <button class="btn btn-outline-dark">Outline Dark</button>
    </div>
</div>
<br>
<div class="card card-body">
    <div class="display-1">Display 1 nested</div>
    <br>
    <div class="card card-body">
        <div class="display-4">Display 4 children</div>
        <p>Paragraph</p>
        <div>
            <button class="btn btn-outline-warning">Warning</button>
        </div>
    </div>
    <br>
    <div><h6>H6 Heading</h6></div>
    <div>
        <button class="btn btn-info">Info</button>
    </div>
</div>
<br>
<div class="card card-body">
    <p class="text-uppercase">Paragraph</p>
    <br>
    <p class="text-lowercase">Paragraph</p>
    <br>
    <div>
        <button class="btn btn-link">Link</button>
    </div>
    <div class="list list-group">
        <div class="list list-group-item">
            <ul>
                <li>
                    <button class="btn btn-link">Link</button>
                </li>
                <li>
                    <button class="btn btn-link">Link</button>
                </li>
            </ul>
        </div>
    </div>
</div>